@import "tailwindcss";

@theme inline {
  --color-*: initial;
  --color-neutral-950: oklch(0.1 0 0);
  --color-neutral-900: oklch(0.18 0 0);
  --color-neutral-800: oklch(0.26 0 0);
  --color-neutral-700: oklch(0.34 0 0);
  --color-neutral-600: oklch(0.42 0 0);
  --color-neutral-500: oklch(0.5 0 0);
  --color-neutral-400: oklch(0.58 0 0);
  --color-neutral-300: oklch(0.66 0 0);
  --color-neutral-200: oklch(0.74 0 0);
  --color-neutral-100: oklch(0.82 0 0);
  --color-neutral-50: oklch(0.9 0 0);
  --color-neutral-0: oklch(1 0 0);
  --color-purple-900: oklch(0.05 0.023 328.37);
  --color-purple-800: oklch(0.143 0.066 328.37);
  --color-purple-700: oklch(0.235 0.108 328.37);
  --color-purple-600: oklch(0.328 0.151 328.37);
  --color-purple-500: oklch(0.42 0.19 328.37);
  --color-purple-400: oklch(0.521 0.151 328.37);
  --color-purple-300: oklch(0.648 0.108 328.37);
  --color-purple-200: oklch(0.721 0.066 328.37);
  --color-purple-100: oklch(0.821 0.023 328.37);
  --color-purple-50: oklch(0.97 0.01 328.37);
  --color-red-900: oklch(0.202 0.075 28.306);
  --color-red-800: oklch(0.302 0.112 28.306);
  --color-red-700: oklch(0.402 0.149 28.306);
  --color-red-600: oklch(0.502 0.186 28.306);
  --color-red-500: oklch(0.602 0.223 28.306);
  --color-red-400: oklch(0.689 0.182 28.306);
  --color-red-300: oklch(0.776 0.119 28.306);
  --color-red-200: oklch(0.863 0.067 28.306);
  --color-red-100: oklch(0.95 0.023 28.306);
  --color-yellow-900: oklch(0.349 0.064 91.01);
  --color-yellow-800: oklch(0.449 0.082 91.01);
  --color-yellow-700: oklch(0.549 0.101 91.01);
  --color-yellow-600: oklch(0.649 0.119 91.01);
  --color-yellow-500: oklch(0.75 0.15 91.01);
  --color-yellow-400: oklch(0.799 0.119 91.01);
  --color-yellow-300: oklch(0.85 0.108 91.01);
  --color-yellow-200: oklch(0.9 0.062 91.01);
  --color-yellow-100: oklch(0.95 0.023 91.01);
  --color-teal-950: oklch(0.05 0.008 220.083);
  --color-teal-900: oklch(0.117 0.019 220.083);
  --color-teal-800: oklch(0.185 0.031 220.083);
  --color-teal-700: oklch(0.252 0.042 220.083);
  --color-teal-600: oklch(0.32 0.053 220.083);
  --color-teal-500: oklch(0.387 0.064 220.083);
  --color-teal-400: oklch(0.455 0.075 220.083);
  --color-teal-300: oklch(0.522 0.087 220.083);
  --color-teal-200: oklch(0.59 0.098 220.083);
  --color-teal-100: oklch(0.657 0.109 220.083);
  --color-teal-50: oklch(0.725 0.12 220.083);
  --color-teal-0: oklch(0.99 0.01 220.083);
  --color-orange-950: oklch(0.353 0.096 45.749);
  --color-orange-900: oklch(0.412 0.112 45.749);
  --color-orange-800: oklch(0.472 0.128 45.749);
  --color-orange-700: oklch(0.532 0.145 45.749);
  --color-orange-600: oklch(0.592 0.161 45.749);
  --color-orange-500: oklch(0.651 0.177 45.749);
  --color-orange-400: oklch(0.711 0.186 45.749);
  --color-orange-300: oklch(0.771 0.139 45.749);
  --color-orange-200: oklch(0.831 0.097 45.749);
  --color-orange-100: oklch(0.89 0.06 45.749);
  --color-orange-50: oklch(0.95 0.026 45.749);

  --font-raleway: var(--font-raleway);
  --font-helvetica: 'Helvetica Now', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  --font-body: var(--font-raleway);
  --font-title: var(--font-raleway);
  --font-subtitle: var(--font-raleway);

  --color-background: var(--color-purple-500);
  --color-background-dark: var(--color-purple-600);
  --color-foreground: var(--color-neutral-0);
  --color-card: var(--color-purple-50);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--color-purple-900);
  --color-primary-foreground: var(--color-neutral-0);
  --color-secondary: var(--color-red-500);
  --color-secondary-foreground: var(--color-neutral-0);
  --color-tertiary: var(--color-yellow-400);
  --color-tertiary-foreground: var(--color-neutral-950);
  --color-muted: var(--color-purple-100);
  --color-muted-foreground: var(--color-neutral-700);
  --color-accent: var(--color-purple-500);
  --color-accent-foreground: var(--color-neutral-0);
  --color-border: var(--color-neutral-700);
  --color-destructive: var(--color-red-700);
  --color-highlight: var(--color-red-500);
  --color-hover: var(--color-red-500);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
